/mta_archives/
fioriHtmlRunner.html
.*/fioriHtmlRunner.html
visual_ext_index.html
/webapp/visual_ext_index.html
extended_runnable_file.html
.*/extended_runnable_file.html
sap-ui-cachebuster-info.json
mock_preview_sapui5.html
.*/mock_preview_sapui5.html
UIAdaptation_index.html
changes_preview.js
AppVariant_index.html
AppVariantPreviewPayload.zip
mergedManifestDescriptor.json
APIExternalProducer.js
.*/APIExternalProducer.js
Reshuffle_Applicants_ui_deployer/node_modules
Reshuffle_Applicants_Backend/bin
.idea/]
.Reshuffle_Applicants_mta_build_tmp/
mta_archives/
Reshuffle_Applicants_UI/node_modules
Reshuffle_Applicants_UI/dist
Reshuffle_Applicants_UI/package-lock.json
Reshuffle_Applicants_ui_deployer/resources/
MakeFile*
project.json
*/package-lock.json
*/.env*
.vscode/
/.project
.che/